@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-white text-gray-800 antialiased text-sm;
    }

    button {
        @apply cursor-pointer;
    }
}